.TheSelect,input{
    width: 100%;
}

body{
    text-align: center;
    padding-bottom: 2em;
}

table{
    margin-left : auto;
    margin-right : auto;
    width: 25em;
}

tr > td:nth-child(1){
    width: 7em;
}
tr > td:nth-child(2){
    width: 14em;
}
tr > td:nth-child(3){
    width: 4em;
}



h3{
    margin-top: 1em;
    margin-left : auto;
    margin-right : auto;
    border: 1px black solid;
    width: 15em;
    border-radius: 3em;
    padding-bottom: 0.1em;
    border-left: 1em #8219D5 solid;
    border-right: 1em #8219D5 solid;
    text-align: center;
}

textarea{
    width: 35em;
    height: 10em;
}

div[role="dialog"][aria-describedby="popin_info"]{
    width: 30em!important;
    height: auto!important;
}

.info{
    padding-left: 0.5em;
}

#show-cat-story{
    width: 34em;
    margin-left: auto;
    margin-right: auto;
}

.error{
    border-color: red;
}

.not{
    display: none;
}

.errorButton{
    border-color: darkred;
    background-color: red;
    color: white;
}

.buttonDelete{
    margin-left: 100%;
    border-radius: 3em;
    border: none;
    background-color: red;
}

input[name^="title-story-"]{
    width: 40%!important;
}



/* Retiré les flèches du selecteur de nombre pour éviter l'harcellement de requète */
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button {
    -o-appearance: none;
    margin:0
}